annotated-types
anyio
certifi
charset-normalizer
click
colorama
cycler
duckdb
fastapi
fonttools
h11
httpcore
httpx
idna
Jinja2
kiwisolver
Markdown
MarkupSafe
matplotlib
networkx
numpy
opencv-python
packaging
pandas
pillow
plotly
preswald
pydantic
pydantic_core
pyparsing
python-dateutil
python-multipart
pytz
requests
scipy
setuptools
six
sniffio
starlette
tenacity
toml
tomli
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
websockets